__pycache__/
.venv/
venv/
.env
.env.*
*.egg-info/
dist/
build/
pip-wheel-metadata/
palm-fruit-ripeness-classification-2/
*.log
logs/
*.ckpt
*.pt
*.onnx
*.tflite
*.engine
*.bin
runs/
artifacts/
data/
outputs/
.DS_Store
**/.ipynb_checkpoints/
*.cache
*~
Thumbs.db
